@model MvcFinalApp.Models.RGameModel.Game
@{
    ViewBag.Title = "Add";
}
<section class="section pt-55 mb-50">
    <div class="container-fluid">
        <div class="sign widget">
            <div class="section-title">
                <h5>Game Add</h5>
            </div>
            @using (Html.BeginForm("AddGame", "Game", FormMethod.Post,new { @enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DownloadLink, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DownloadLink, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                        <select name="SizeVersion">
                            <option value="1">MB</option>
                            <option value="2">GB</option>
                        </select>
                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Processor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Processor, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RamSize, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RamSize, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GraphicsCard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GraphicsCard, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DiskSpace, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiskSpace, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GamePhoto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GamePhoto, new { htmlAttributes = new { @class = "form-control",type="file",accept= "image/*" } })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">

                    @*<select name="CategoryId" class="form-control">
                        <option value="0"></option>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>*@
                    @{
                        var categories = new SelectList(ViewBag.Categories, "Id", "Name");

                    }
                    @*@Html.DropDownList("Id", categories, "Selectional", new { @class = "form-control" })*@
                    @Html.DropDownList("CategoryId",categories, "Selectional", new { @class = "form-control" })


                </div>


                <div class="form-group">
                    <button type="submit" class="btn-custom">Add</button>
                </div>


            }
            

        </div>


    </div>
</section>
